@font-face {
  font-family: 'Space Mono';
  src: url(./assets/fonts/SpaceMono-Bold.ttf);
}

:root {
  --grey-600: hsl(180deg, 25%, 32%);
  --grey-550: hsl(180deg, 18%, 40%);
  --grey-500: hsl(186deg, 14%, 43%);
  --grey-400: hsl(184deg, 14%, 56%);
  --grey-300: hsl(184deg, 19%, 68%);
  --grey-200: hsl(185deg, 41%, 84%);
  --grey-50: hsl(189deg, 47%, 97%);

  --green-900: hsl(183deg, 100%, 15%);
  --green-800: hsl(183deg, 85%, 21%);
  --green-750: hsl(183deg, 79%, 24%);
  --green-400: hsl(172deg, 67%, 45%);
  --green-200: hsl(173deg, 61%, 77%);

  --orange: hsl(13deg, 70%, 60%);

  font-family: 'Space Mono', sans-serif;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-13: 0.8125rem;

  --lh-48: 1.48;
  --lh-32: 1.48;
  --lh-24: 1.5;
  --lh-20: 1.5;
  --lh-16: 1.5;
  --lh-13: 1.46;

  --ls-48: -1px;
  --ls-32: -0.67px;

  --outer-radius: 25px;
  --inner-radius: 15px;
  --small-radius: 5px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#root {
  background-color: var(--grey-200);
  min-height: 100vh;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: 144px;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border-top-left-radius: var(--outer-radius);
  border-top-right-radius: var(--outer-radius);
  padding: 2rem;
  min-width: 17rem;
  max-width: 24rem;
  margin: 0 auto;
  box-shadow: 0 2rem 2.5rem var(--grey-300);
}

.section-label {
  font-size: 1rem;
  line-height: var(--lh-16);
  color: var(--grey-500);
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input.bill,
.input.people {
  text-align: right;
  font-size: var(--fs-24);
  line-height: var(--lh-24);
  padding: 6px 18px;
  background-color: var(--grey-50);
  border: none;
  border-radius: var(--small-radius);
  color: var(--green-900);
}

.input:focus {
  outline-color: var(--green-400);
}

.input.bill {
  background-image: url(./assets/images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 18px center;
}

.tip-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip-btn {
  background-color: var(--green-900);
  border: none;
  border-radius: var(--small-radius);
  color: white;
  font-size: var(--fs-24);
  line-height: var(--lh-24);
  text-align: center;
  padding: 0.15rem 1rem;
}

.tip-btn:hover {
  background-color: var(--green-200);
  color: var(--green-900);
}

.tip-btn.active {
  background-color: var(--green-400);
  color: var(--green-900);
}

.custom-tip {
  width: 100%;
  font-size: 1.5rem;
  background-color: var(--grey-50);
  border: none;
  border-radius: var(--small-radius);
  text-align: center;
}

.custom-tip::placeholder {
  font-size: 1.5rem;
  color: var(--grey-550);
}

.input.people {
  background-image: url(./assets/images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 18px center;
}

.results-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--green-900);
  padding: 29px 23px;
  border-radius: var(--inner-radius);
  overflow: hidden;
}

.results-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-label {
  line-height: var(--lh-16);
  color: white;
}

.per-person {
  font-size: var(--fs-13);
  line-height: var(--lh-13);
  color: var(--grey-400);
}

.result-value {
  font-size: var(--fs-32);
  letter-spacing: var(--ls-32);
  color: var(--green-400);
}

.btn {
  font-size: var(--fs-20);
  line-height: var(--lh-20);
  background-color: var(--green-400);
  color: var(--green-900);
  border: none;
  border-radius: var(--small-radius);
  padding: 5px 0;
}

.btn:hover,
.btn:active {
  background-color: var(--green-200);
}

.btn.reset:disabled {
  background-color: var(--green-750);
  color: var(--green-800);
}

@media (min-width: 39rem) {
  .main-card {
    max-width: 38rem;
    max-height: 50rem;
    padding: 3.375rem 4.72rem;
    border-radius: var(--outer-radius);
  }

  .tip-btn-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .results-card {
    gap: 1rem;
  }

  .result-value {
    font-size: var(--fs-48);
    line-height: var(--lh-48);
    letter-spacing: var(--ls-48);
  }
}

@media (min-width: 64rem) {
  .logo-header {
    height: 14rem;
  }

  .main-card {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'bill results'
      'tip results'
      'people results';
    max-width: 57.5rem;
    max-height: 30rem;
    padding: 2rem 2.5rem;
  }

  .card-section.tip {
    grid-area: tip;
  }

  .card-section.people {
    grid-area: people;
  }

  .results-card {
    grid-area: results;
    justify-content: space-between;
  }
}
